*.pyc
*~
*.swp
.project
.pydevproject
.idea
.settings
xmlrpc.log*
/sqlalchemy/
/server.log*
/server.db
/test.db
/deps.zip
/GeoIP.dat
/GeoIP.dat.gz
/bad_sites.txt
/bad_words.txt
/bad_nicks.txt
/docs/protocol.txt
/protocol/docs/protocol.txt
/server.pem
/server.key
/uberserver.pid
/args.txt
/proxies.txt
/dbconfig.py
venv/
