[Unit]
Description=Uberserver Spring RTS Lobby Server (dev)
After=network-online.target mariadb.service
Wants=network-online.target

[Service]
Type=simple
User=lobbydev
Group=lobbydev
WorkingDirectory=/home/lobbydev/uberserver
ExecStart=/home/lobbydev/uberserver/server.py -g args.txt
SyslogIdentifier=uberserver
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
